*.pyc
.ropeproject
.sconsign.dblite
build
dist
.~lock*
*.sta
_minted-document
document.aux
document.bbl
document.bcf
document.blg
document.fls
document.log
document.out
document.pdf
document.run.xml
document.synctex.gz
document.toc
local
